// I WILL STYLE THIS LATER! CONTENT FIRST! 

.hero{
    
    .row{
        margin-bottom: 2em;
    }

    .two-thirds{
        margin-right: 2em;
    }

   .one-third{
       img{
       align-content: space-between;
       }
    }

}