/* HERO */

.hero {
  .proj_summary{
    background-color: $color-dino-yellow;
  }
}

/* UI DESIGN */
  
.final{
  align-items: flex-end;
  .row {
    margin-bottom: .5em;
    justify-content: space-between;
  
  }
  
  .end_product{
    margin-top: 5em;
  }
}
  /* WIREFRAME ILLUSTRATOR AFTER EFFECTS*/
  .objective .column,
  .wireframe .column, 
  .illustrator .column, 
  .sketch .column,
  .aftereffects .column
  {
    margin-right: 5%;
  }
  
/* WIREFRAME */
.wireframe{ 
  .one-third{
    margin-right: 0;
  }
}
  
/* sketch */
.sketch {
  .row{
  justify-content: space-between;
  }
}

/* illustrator */

.illustrator {
  .two-thirds{
    margin-right: 0;
  }
}
  
/* after effects */
  
.aftereffects {
  .one-third{
    margin-right: 0;
  }
}

/* ANIMATIONS */
  
.animation{
  .one-third {
  margin-right:0;
  }
}

