/* LAYOUT */
/*
#MEDIA QUERIES (Mobile First)
	#DEFAULT/SMALL+ (Mobile First - Default Settings Outside of Media Queries)
	#MEDIUM+ (Tablet) - min-width: 768px
  #LARGE+ (Desktop) - min-width: 1150px
  
/* SMALL+ (Mobile First Defaults) */
body {
  margin: 0;
  padding: 0;
}
  
.container {
  width: 90%;
  margin: 0 auto;
  // padding: 0 %;
}

@media (min-width: $breakpoint-medium) {
  .container {
    max-width: $breakpoint-medium; 

  // index quote____________
    .quote{ 
      h1{
      font-size: 3em;
      }
    }

  // conquest illustrations_____________
    .illustration_explain{
      margin:0 auto;
      width: 50vw;
    }
  }

  // mcd sketches__________
  .sketches{
    .mcd_sketch{
 
      .two-thirds{
      padding-bottom: 2em;
      padding-right: 5em;
      }
    }

    .row{
      .space-right{
        margin-right: 2em;
      }
    }
  }
}

@media (min-width: $breakpoint-large) {
  body {
    font-size: 112.5%; }
  .container {
    max-width: $breakpoint-large; 
  
// conquest grid_________________
    .conquest-grid{
      width: 40vw;
    }

// conquest illustrations_____________
    .illustration_explain{
      margin:0 auto;
      width: 35vw;
    }
  } 
   // mcd sketches__________
  .sketches{
    .mcd_sketch{
      .two-thirds{
      margin-right: 10em;
      margin-bottom: 3em;
      }
    }

    .final_sketch{
      .one-third{
        img{
            padding-top: .5em;
        }
      }
      .space-right{
        margin-right: 10em; 
      }
    }
  }

// SKETCHES____________
  .sketches, .book_first_draft{
    padding-bottom: 0;

    .sketch_explain{
        padding-left: 4em;
    }

    .logo_exploration{
        margin-top:2em;
        .row{
            justify-content: space-between;
        
        img{
            padding-left: 2em;
            padding-right: 2em;
        }
        }
    }
  }
}
  
  
/* #LARGE+ MEDIA QUERY */
@media (min-width: $breakpoint-large) {
  /* LARGE BODY TYPE */
  body {
    font-size: 100%; /* 16px; */
  }

   
}
  
/* Grid */
/* Default Grid (on SMALL+ Screen Sizes) */
.row {
  margin: 0;
}

/* Medium Grid (on MEDIUM+ Screen Sizes) */
@media (min-width: $breakpoint-small) {

  .page-nav{
    visibility: visible;
  }
  
  body {
    font-size: 100%;
  }

  .hero .two-thirds{
    margin: 0;
    margin-left: 3em;
    justify-content: flex-end;
  }

  .row, .row2 {
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: -1%;
    margin-right: -1%; 
  }
    .row.swap {
      -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }
  .center {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  } 
  .column {
   -webkit-flex-grow: 1; 
    -ms-flex-positive: 1;
   flex-grow: 1;
   margin: 1%; 
    }

    .one-whole {
      width: 100%;
    }
  .one-half {
    width: 48%; }
  .one-third {
    width: 31.3333%; }
  .one-fourth {
    width: 23%; }
  .one-fifth {
    width: 18%; }
  .one-sixth {
    width: -1.3334%; }
  .one-seventh {
    width: 12%; }
  .one-eighth {
    width: 10.5%; }
  .one-nineth {
    width: 9%; }
  .one-tenth {
    width: 8%; }
  .one-eleventh {
    width: -1.91%; }
  .one-twelveth {
    width: -1.92%; }
  .two-fifths {
    width: 38%; }
  .two-thirds {
    width: 64.6666%; }
  .three-fourths {
    width: 73%; }


  // index quote____________
    .quote{ 
      h1{
      font-size: 2em;
      }
    }

    // index work__________________
.case-studies{
  .row{
    align-items: flex-start;

    .work_text_home{
    margin-right: -13em;
    top: 50%;
    transform: translateY(-50%);
}
    .work-image{  
margin-left: 16em;
margin-bottom: 5em;

    }
  }
}


// page nav___________________
.page-nav{
  .yellow-circle{
    height: 1.5em;
    width: 1.5em;   
}
}

    /* HERO ___________________________*/

.hero {
  .proj_summary{
    margin-top: 2em;
    padding-top:1em;
    padding-left: 6em;
    padding-right: 6em;
    padding-bottom:3em;
  }
}

  // design system_____________
  .type_specimen{

    .type_scale{
      margin-right: 2em;
    }

    .color_study{
      margin-left: 2em;

      img{
        margin-top: 1.3em;
        }
    }
  }

// LOGO______________
  .logo{
    .row{
        .final_logo{
          margin-right: 6em;
        }
    }
  }

// conquest grid_________________
.conquest-grid{
  width: 50vw;
}

// conquest illustrations_____________
  .illustration_explain{
    margin:0 auto;
    width: 50vw;
  }

// // mcd sketches__________
  .sketches{
    
    .mcd_sketch{
  
      .two-thirds{
      padding-bottom: 0;
      padding-right: 5em;
      }
    }

    .final_sketch{
      margin-top:1em;

      img{
        margin-top: .5em;
      }
      .space-right{
        margin-right: 6em;
      }
    }
  }

// zoo color study_design system_________
    .color_study_zoo{
      padding-left: 2.5em;
    }

// SKETCHES____________
  .sketches, .book_first_draft{
    padding-bottom: 0;
 
    .sketch_explain{
        margin-left: 2em;
    }
    
    .logo_exploration{
      .row{
      margin-top: 0;
          justify-content: space-between;
      }
    }
  }
// zoo final designs_________________
.final_zoo_explain{
  padding-top: 0;
  padding-bottom: 0;
width: 30vw;
}


.radiolab_summary{
    margin-right: 3em;
}
}

  
@media (max-width: $breakpoint-small) {

  .column.small {
    float: left;
    margin-right: 8%;
  }
  .column.small:last-child {
    margin-right: 0;
  }
  .one-third.column.small {
    width: 28%;
  }

// page nav___________________
.page-nav{
  .yellow-circle{
    height: 1em;
    width: 1em;   
}
}

// index quote____________
  .quote{ 
      h1{
      font-size: 1.7em;
      }
  }


// index work__________________
.case-studies{
  .row{
    display: block;

    .work-image{     
      margin-bottom: 4em;
    }
  }
}

// hero proj. summary__________

  .hero {
    .proj_summary{
      margin-top: 2em;
      padding-top:1em;
      padding-left: 2em;
      padding-right: 2em;
      padding-bottom:2em;
    }
  }
// design system_____________
  .type_specimen{
    .type_scale{
      margin-right: 0;
    }

    .color_study{
      margin-top: 2em;
      margin-left: 0;

      img{
        margin-top: 1.5em;
        }
    }
  }

// conquest grid_________________
  .conquest-grid{
    width: 100%;
  }


// conquest—brand strategy & copywriting____________
  .brand_strategy, .copywriting{
    .row{
      .one-third{
        h2{
          font-size: 1.5em; 
        }
      }
      .two-thirds{
        padding:0;
        margin-top: 2em;
        
        

        h3{
          font-size: 1.3em;
        }
        p{
          margin-bottom: 0;
        }
      }
    }
  }

  .logo{
    .row{
      .final_logo{
        margin-right: 0;
      }
    }
  }

  // Conquest illustrations____
  .illustration_explain{
    margin:0 auto;
    width: 100%;
  }

//  swiper_________
  .swiper-container{

    .swiper-slide{
      padding-left: 1.5em;
      padding-right: 1.5em;
    }

    .swiper-button-prev, .swiper-button-next{
      color: $color-red;
      --swiper-navigation-size:1.5em;
      width: 0;
    }
  
    .swiper-pagination{
      --swiper-theme-color: #CC1F3D;
      position: relative;
      margin-top: 1em;
    }
  }

   // mcd sketches__________
  .sketches{
    .mcd_sketch{
      margin-bottom: 2em;
    }

    .final_sketch{

      .one-third{
  
        margin-left: 5em;
        margin-right: 5em;
      }
      .space-right{
        margin-bottom: 1em;
      }
    }
  }

// mcd swiper______________
  #final_product{  
    .swiper-slide{
      .row{
        .two-thirds{
          margin-right:0;
      }
        .one-third{
        padding: 1.5em;
        }
      }
    }
  }

  // zoo color study_design system_________
  .color_study_zoo{
    margin-top: 1em;
  }

  // ZOO SKETCHES____________
  .sketches, .book_first_draft{
    padding-bottom: 0;
    
    .sketch_explain{
        padding-left: 0;
    }
    
    .logo_exploration{
        margin-top:2em;
        
      img{
          padding-left:0;
          padding-right: 0;
          margin-bottom: 2em;
      }
    }
  }

// zoo final designs_________________
  .final_zoo_explain{
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
  }


// radiolab summary_______________
  .radiolab_summary{
    margin-right: 0;
  }
}

/* #CLEARFIXES_______________ */
.row2:after,
.group:after,
.row:after,
.container:after,
.nav:after {
  content: "";
  display: table;
  clear: both;
  font-size: 0;
}
