// media

/* #IMAGES */
/* Responsive */
img {
    max-width: 100%;
    height: auto;
  }
  
  img.circular {
    border-radius: 100%;
  }

  /* VIDEO */
video {
    max-width: 100%;
    height: auto; }