// media

/* #IMAGES */
/* Responsive */
img {
    max-width: 100%;
    height: auto;
  }
  
  img.circular {
    border-radius: 100%;
  }

  /* VIDEO */
video {
    max-width: 100%;
    height: auto; }

  //  .hero{ 
  //   object-fit: contain;
  //   animation-name: myherovideoblur;
  //   animation-duration: 1.25s;
  //   animation-delay: 4.525s;
  //   animation-fill-mode: forwards;
  //   opacity: 1;
  //  }