/* Main Sections */
section {
    padding: 3em 0;
    display: -ms-grid;
    display: grid;
}
/* place-items: center; } */  

/* LINKS _________________________________*/
/* Horizontal Rules */
.hr_ {
  border: 0;
  height: 1px;
  background: $color-black;
  margin: 4em 0; 
}
  
  /* HELPERS _________________________________*/
.sectionhead {
  font-family: $headingfont-family;
  font-size: 1em;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 1em; }

.sectionhead:after {
  content: "";
  display: block;
  width: 100px;
  margin: 0 auto;
  margin-top: .2em; 
}

.text-centered {
  text-align: center;
}
.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.subheader {
  color: $color-gray;
  margin-top: 1em;
  font-style: normal;
  font-weight: normal;
  clear: both;
}



/* site-header ________________________________*/
.site-header, .site-footer{
  padding: 1em;
  color:$color-teal;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; 

  h1 {
    font-size: 1.5em;
    font-family: $headingfont-family;
    margin: .5em 0 0 0;
    /*to adjust baseline with nav text*/ 
  }
  
  a{
    color: $color-teal;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase; 
  }
}
@media (min-width: $breakpoint-small) {
  .site-header {
    padding-top: 1em;
  }
}


/* site-id ____________________________-*/

.site-id img{
width: 7em;
height: auto;
}
  

/* site-nav ____________________________-*/
.site-navigation {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 80%;
  font-family: $headingfont-family; 

  .nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-flex;
  display: -ms-flexbox;
    display: block;
   }
  
  .menu-button {
    position: absolute;
    left: -9999px;
    top: -9999px;
  }
  
  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
  }
  
  li a {
    padding: 1em;
    text-align: left;
    clear: both;
    float: left;
  }
  
  li a:hover {
  font-weight: 700;
  }
}
  
  /*PAGE NAV ___________________________________*/
  
.page-nav{
  position: fixed;
  top: 50%;
  transform: translateY(-50%);

  a{  
    text-decoration: none;
    color: $color-teal;
  }
  
  ul {
    margin: 0;
  }

  ul li {
    border-left:2px dashed $color-red;
    display: block;
    font-family: $headingfont-family;
    padding-top: 2em;
    padding: 1em 0;
    padding-left:.6em;
  }
  
  ul li:before{ 
    content: "\26AC";
    color: $color-yellow; 
    margin-left: -1em; 
    padding-top: 0;
  }

  ul li:hover, a.active { 
    font-weight: 700;
  }
}

// HERO HOMEPAGE_________________________________________

.home-hero{
  background-image: url("video/tomylogo.gif");
}

/* HERO ___________________________*/

.hero {
  .proj_summary{
    margin-top: 2em;
    padding-top:1em;
    padding-left: 6em;
    padding-right: 6em;
    padding-bottom:3em;
  }
}

/* OBJECTIVE _______________________*/
  
.objective { 
  margin: 0 auto;

  .row{
    align-items: flex-start;
    border-bottom: 2px dashed $color-red;
    padding-top: 2em;
    padding-bottom: 2em;
    justify-content: space-between;
  }

  .one-third{

    ul{
      padding-top: 1em;
    li:before{
      content: "\26AC";
      color: $color-yellow; 
      display: inline-block;
      width: 1.5em; 
      margin-left: -2.5em; 
      padding-top: 0;
    }
  }
  }
  
  .two-thirds{
    margin-left: 3em;
    max-width: 25em;
  }

  hr{
    margin-top: 1em;
    margin-bottom: -1em;
    border-top:2px dashed $color-red;
    width: 16em;
    margin-left: 0;
  }
}

/* DESIGN SYSTEM—TYPE SPECIMEN___________________________*/

.type_specimen {
  margin-top: 4em;

  .row{
  align-items: flex-start;
  justify-content: space-between;
  }
  
  .one-half{
    margin-right: 3em;
  }
  img{
    margin-top: 1em;
  }
}

/* BUTTONS ON BOTTOM TOGGLE NEXT PAGE */
  
.text-centered {

  a {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    /* font-size: 80%; */
    font-family: $headingfont-family; 
    text-decoration: none;
    color: $color-teal;
  }

  .icon-char{
    color: $color-teal;
  width:2em;
  }
}




// FOOTER ______________________________________

.one-third small a:hover{
  font-weight: 700;
}